{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
ログアウト/Loguot
{% endblock %}

{% block content %}

    <div class="container d-flex align-items-center" style="height: 90vh;">
        <div class="body mx-auto">
            <p class="title text-center mb-5">ログアウトしますか？</p>
            <form method="post" class="form-auth">
                {% csrf_token %}
                <div class="button text-center mt-5 mb-5">
                    <a href="/" class="btn btn-lg btn-secondary btn-block mx-auto me-2">戻る</a>
                    <button class="btn btn-lg btn-warning btn-block mx-auto" type="submit">ログアウト</button>
                </div>
                <p class="mt-5 mb-3 text-center">&copy; 2023.</p>
            </form>
        </div>
    </div>

{% endblock %}
